@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
}


nav{
  display: flex;
  height: 80px;
  background: #ffffff;
  align-items: center;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff9f9;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #ffffff;
  background: #ffffff;
}
nav .menu-btn i{
  color: #000000;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #01023d;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #ffffff;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}

.background img{
    width: 100%;
}

.nav-one {
display: none;
}
.menu-bar {
    display: none;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color:rgb(255, 255, 255);
     
}
.menu-bar ul li {
    margin:none;
    padding:15px;
 
}

.menu-bar ul li a {
    text-decoration: none;
    color:#ffffff
}
.menu-bar{
    background-color:#ffffff;
    text-align: center;

}



.partner h1{
    text-align: center;
    color: #0D578D;
    font: normal normal bold 30px/30px Playfair Display;
    margin-top: 20%;
}

.columnpic {
  float: left;
  width: 15%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}




.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px 0;
}
.column h2 {
  color: #0D578D;;
}
.column {
  flex: 1;
  border: 0px solid #666;
  margin: 2px;
  padding: 10px;
  background: #ffffff;
  transition: 0.3s;
}
.column:first-child {
  margin-left: 0;
}
.column:last-child {
  margin-left: 0;
}
@media screen and (max-width: 980px){
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }
  .columns .column:last-child {
    flex-basis: 100%;
    margin: 0;
  }
  .columns .column:nth-last-child(2) {
    flex-basis: 100%;
    margin: 0;
  }
}
@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
  
}

.divider {
  width: 300px;
  height: 5px;
  background-color: #01023d;
  display: inline-block;
  border-radius: 50%;
  margin-left: 50px;
  
}

.see {
  margin-left: 200px;
  background-color: #0D578D;
  margin-bottom: 10%;

}
.wrapper {
  margin: 150px auto;
  width: 70%;
}
.wrapper img {
  max-width: 320px;
  float: left;
  border: 3px solid #ffffff;
  border-radius: 10px;
}

.text-box {
  color:#ffffff;
}

.text-box h2 {
  font-size: 42px;
  color: #0D578D;
}

.text-box p {
  font-size: 16px;
  color: #000000;
}


@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');


.products h2{
	text-align: center;
  margin-top: 30px;
	margin-bottom: 0%;
	font-size: 20px;
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	scale:  1.1;
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}
